.bounce{
    animation: bounce;
    animation-duration: 0.5s;
}

.swing{
    animation: swing;
    animation-duration: 0.5s;
}

.tada{
    animation: tada;
    animation-duration: 0.5s;
}

.jello{
    animation: jello;
    animation-duration: 1s;
}

.shakeX{
    animation: shakeX;
    animation-duration: 1s;
}

.goaway{
    animation: bounceOutRight;
    animation-duration: 1s;
}

.comeback{
    animation: bounceInLeft;
    animation-duration: 1s;
}

.dance{
    animation-duration: 0.5s;
    animation-name: DanceAnimate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes DanceAnimate {
    from { 
        transform:rotate(0deg);
        width : 120px;
    }
  
    to {
        transform:rotate(360deg);
        width: 160px;
    }
}

.move, .back{
    animation-duration: 1s;
    animation-name: MoveAnimate;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes MoveAnimate {
    from { 
    }
  
    to {
        margin-left: 2000px;
    }
}

.back{
    animation-direction: reverse;
}

@keyframes MoveAnimate {
    from { 
        margin-left: 0px;
    }
  
    to {
        margin-left: 2000px;
    }
}
