body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.bot-message{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid #353535;
    border-radius: 5px;
}

.bot-message > span{
    color: #353535;
    font-family: 'DungGeunMo';
}

.bot-image, .input-message{
    margin: 20px 0px;
}

.input-message > input{
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-family: 'KyoboHand';

    border-image-source: linear-gradient(rgba(216, 141, 2, 0.5), rgba(231, 216, 80, 0.5));
    border-width: 3px;
    border-image-slice: 1;
}

.input-message > input:focus{
    outline: none;
    border-image-source: linear-gradient(rgb(211, 179, 0), rgba(226, 184, 66, 0.5));
    border-width: 3px;
    border-image-slice: 1;
}

.send-btn > button{
    width: 200px;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    background-color: #ffe8a9;
    font-family: 'KyoboHand';

    border: none;
    border-radius: 20px;
}

.send-btn > button:hover{
    background-color: #e7c08d;
}